<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
		<h4 class="modal-title">Login</h4>
	</div>
	<div class="modal-body">
		<div class="login-box-body">
			<p class="login-box-msg">Sign in to start your session</p>
			<div>{{loginResult}}</div>

			<form (ngSubmit)="login(f)" #f="ngForm">
				<div class="form-group has-feedback">
					<input type="email" class="form-control" placeholder="Username" name="username" [(ngModel)]="username" required minlength="5" maxlength="64">
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" required minlength="6" maxlength="128">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
						<div class="checkbox icheck">
							<label>
              <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Remember Me
            </label>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
					</div>
					<!-- /.col -->
				</div>
			</form>

			<div class="social-auth-links text-center">
				<p>- OR -</p>
				<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
				<a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
			</div>
			<!-- /.social-auth-links -->

			<a href="#">I forgot my password</a><br>
			<a href="/register" class="text-center">Register a new membership</a>

		</div>

		<!--
		<form id="login-form">
			<div class="modal-body">

				<input type="text" [(ngModel)]="username" name="username" required>
				<input type="password" [(ngModel)]="password" name="password" required>

			</div>
			<div class="modal-footer">
				<div>
					<button type="submit" class="btn btn-primary btn-lg btn-block" (click)="login()">Login</button>
				</div>
			</div>
		</form>
		-->
	</div>
</div>