    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a routerLink="/" class="navbar-brand"><b>Admin</b>LTE</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a>Test</a>
                        </li>
                        <li>
                            <a routerLink="/welcome">Welcome</a>
                        </li>
                        <li *ngIf="!_gs.data.isAuth">
                          <a routerLink="/login">Login</a>
                        </li>
                        <li>
                            <a>Register</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                        </div>
                    </form>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu" >
                    <ul class="nav navbar-nav" *ngIf="!_gs.data.isAuth">
                      <li (click)="openLoginModal()">
                          <a>Login</a>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav" *ngIf="_gs.data.isAuth">

                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning" *ngIf="_notice.notifications.length > 0">{{ _notice.notifications.length }}</span>
                            </a>
                            <ul class="dropdown-menu" *ngIf="_notice.notifications.length == 0">
                                <li class="header">You have 0 notifications</li>
                            </ul>
                            <ul class="dropdown-menu" *ngIf="_notice.notifications.length > 0">
                                <li class="header">You have {{ _notice.notifications.length }} notifications</li>
                                <li *ngFor="let notice of _notice.notifications">
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <a routerLink="/admin/chat">
                                                <i class="fa fa-users text-aqua"></i> {{notice.name}}
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>

                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img [src]="_gs.data.authUser.avatar_img_url" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">{{_gs.data.authUser.name}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    
                                    <img [src]="_gs.data.authUser.avatar_img_url" class="user-image" alt="User Image">
                                    <p>
                                        {{_gs.data.authUser.name}}
                                        <small>Member since {{_gs.data.authUser.created_at}}</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a routerLink="/admin" class="btn btn-default btn-flat">Manage</a>
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-flat" (click)="logout()">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>