<!-- /.col -->
<div class="col-md-9">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Sent</h3>

            <div class="box-tools pull-right">
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm" placeholder="Search Mail">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <app-message-list [data]="pageData" [folder]="folder" (changePage)="getPage($event)" (deletedItems)="getPage($event)"></app-message-list>
    </div>
    <!-- /. box -->
</div>
<!-- /.col -->
