<div>
	<section class="content-header">
		<h1>
			Mailbox
			<small>2 new messages</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Mailbox</li>
		</ol>
	</section>

	<section class="content">
		<div class="row">

			<app-folder-widget></app-folder-widget>

			<router-outlet></router-outlet>
		</div>
		<!-- /.row -->
		<div>
			<button type="button" class="btn btn-primary" (click)="getsth()">Click Me</button>
			<button type="button" class="btn btn-primary">Read new msg</button>
		</div>
	</section>

</div>