<div class="col-md-3">
	<a class="btn btn-primary btn-block margin-bottom" routerLink="/admin/message/compose">
		<span>Compose</span>
	</a>

	<div class="box box-solid">
		<div class="box-header with-border">
			<h3 class="box-title">Folders</h3>

			<div class="box-tools">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
			</div>
		</div>
		<div class="box-body no-padding">
			<ul class="nav nav-pills nav-stacked">
				<li>
					<a routerLink="/admin/message/inbox">
						<i class="fa fa-inbox"></i>
						<span>Inbox</span>
						<span class="label label-primary pull-right">{{_gs.data.numNewMessage}}</span>
					</a>
				</li>

				<li>
					<a routerLink="/admin/message/sent">
						<i class="fa fa-envelope-o"></i>
						<span>Sent</span>
					</a>
				</li>

				<li><a href="#"><i class="fa fa-file-text-o"></i> Drafts</a></li>
				<li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
			</ul>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /. box -->
	<div class="box box-solid">
		<div class="box-header with-border">
			<h3 class="box-title">Labels</h3>

			<div class="box-tools">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
			</div>
		</div>
		<div class="box-body no-padding">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
				<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
				<li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
			</ul>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>